
:root {
	--black_border  : 1px solid Black;
	--header_height : 124px;
}
* {
	margin          : 0;
	padding         : 0;
}

body {
	font-family     : Roboto, sans-serif;
	color           : #0f3c4b;
	background-color: #e5edf1;
	color           : #1f0f4d;
	background-color: #e9e4f1;
	padding         : 5rem 1.25rem; /* 80 20 */
}

#wrapper {
	width           : 100%;
	max-width       : 800px; /* 800 */
	color           : Black;
	background-color: White;
	text-align      : center;
	margin          : 0 auto;
}
#wrapper > * {
	border          : var( --black_border );
}
#wrapper > p, #wrapper > div {
	padding         : 12px 64px;
}
header h1 {
	height          : 100%;
	text-align      : center;
	line-height     : var( --header_height );
}
.uploader {
	width: 360px;
	height: 220px;
	margin: 20px auto;
}

