
:root {
	--black_border  : 1px solid Black;
	--header_height : 124px;
}
* {
	margin          : 0;
	padding         : 0;
}
#wrapper {
	display         : grid;
	grid            : var( --header_height ) auto auto / auto;
	align-content   : center;
	justify-content : center;
}
#wrapper > * {
	border          : var( --black_border );
}
#wrapper > p, #wrapper > div {
	padding         : 12px 64px;
}
header h1 {
	height          : 100%;
	text-align      : center;
	line-height     : var( --header_height );
}

/** readme **/
#readme {
	position        : fixed;
	top             : 0;
	bottom          : 0;
	right           : 0;
	width           : 25%;
	overflow-y      : scroll;
	padding         : 42px;
	background      : Cornsilk;
	transition      : right 400ms ease-in,
						visibility 400ms ease-in;
	visibility      : visible;
}
#readme[aria-hidden="true"] {
	right           : -400px;
	visibility      : hidden;
}

